#list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    list-style: none;
    padding: 0;
    row-gap: 10px;
}
#list li {
    direction: ltr;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    justify-content: flex-start;
    cursor: pointer;
}

#list li.checked {
    position: relative;
}

#list li.checked::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    height: 1px;
    background: #000;
}

input[name="finishedTask"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
}

li.checked input[name="finishedTask"] {
    background-size: cover;
    background-image: url('/DOMmanipulation/assets/checkedIcon.png');
}
